* {
    font-family: 'Raleway', sans-serif;
}

.navbar, .navbar-item, .navbar-end, .navbar-start, #navMenu {
    background-color: #425664;
    color: #F6F4F2;
}

#aboutMe, #contactInfo {
    background-color: #F6F4F2;
}

#projectCard {
    color: #F6F4F2;
    background-color: #425664;
}


.is-ancestor, body {
    background-color: #C6AD8F;
}

#navTitle {
    font-family: 'Courgette', cursive;
}

#navSpan {
    font-family: 'Raleway', sans-serif;
}

.tile {
    border-radius: 15px;
}

img {
    border-radius: 15px;
}