* {
    font-family: 'Raleway', sans-serif;
}

.navbar {
    background-color: #B85042;
    color: #E7E8D1;
}

.navbar-item, .navbar-end, .navbar-start, #navMenu {
    background-color: #B85042;
    color: #E7E8D1;
}

#aboutMe {
    background-color: #E7E8D1;
}

#contactInfo {
    background-color: #E7E8D1;
}

#projectCard {
    color: #E7E8D1;
    background-color: #B85042;
}


.is-ancestor {
    background-color: #A7BEAE;
}

#navTitle {
    font-family: 'Courgette', cursive;
}

#navSpan {
    font-family: 'Raleway', sans-serif;
}

.tile {
    border-radius: 15px;
}

img {
    border-radius: 15px;
}