* {
    font-family: 'Raleway', sans-serif;
}

#navTitle {
    font-family: 'Courgette', cursive;
}

#navSpan {
    font-family: 'Raleway', sans-serif;
}

.tile {
    border-radius: 15px;
}

img {
    border-radius: 15px;
}